<div class="row">
	<div class="col-xs-9">
		<span>
			<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!</h1>
		</span>
	</div>

	<%= render 'layouts/copy_right' %>
</div>